<!-- As a heading -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"> <img src="https://static.wixstatic.com/media/eb8851_33aa80076f01490fa6e6085aeeb476f9~mv2.png/v1/fill/w_280,h_140,al_c,q_85,usm_0.66_1.00_0.01/Ladonware%20logo%2001.webp" width="70%"/> </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </header>